/* .blogcontainer {
    display: flex; 
  }
  .blogmain {
    flex: 2; 
  }
  .blogsidebar {
    flex: 1;
  }
  // pages/blog/[slug]/index.tsx
import React from 'react';
import { useRouter } from 'next/router';
import { articles } from '../../../data/articles';
import Blog from '@/styles/Blog.module.css'
import MainArticle from '../../../components/MainArticle';
import Sidebar from '../../../components/Sidebar';
const BlogArticlePage: React.FC = () => {
    const router = useRouter();
    const { slug } = router.query;
    const article = articles.find((article) => article.title === slug);
    if (!article) {
        return <div>Article not found</div>;
    }
    return (
            <div className={`${Blog.blogcontainer}mt-3`}>
                <div className={`${Blog.blogmain}`}>
                    <MainArticle title={article.title} content={article.content} />
                </div>
                <div className={`${Blog.blogsidebar}`}>
                    <Sidebar articles={articles.filter((a) => a.title !== slug)} />
                </div>
            </div>
            );};
export default BlogArticlePage; */
