body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* p{
	font-size: clamp(40px,8vw,105px);
} */
a {
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
}

.hideOverflowOnMobile {
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    margin-top: 10px;
  }

  .navbar-toggler {
    margin-bottom: 10px;
  }

  .navbar-toggler-icon {
    order: -1; /* Move the toggle icon to the left */
  }
}

/* nav{
	display: flex;
	padding: 9px;
	/* padding-left: 9px !important; 
	justify-content: space-between;
	align-items: center;
	background-color:#182933;
	
  }
  .nav__menu-bar{
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	cursor: pointer;
  }
  .nav__menu-bar div{
	width: 40px;
	height: 4px;
	background-color: rgb(255, 253, 253);
	border-radius: 2px;
  }
  .nav__menu-list{
	display: flex;
	z-index: 1000;
	flex-direction: column;
	position: fixed;
	top: 60px;
	width: 288px;
	row-gap: 24px;
	right: -288px;
	padding: 24px 16px;
	transition: all 0.2s;
	min-height: calc(100vh - 60px);
	background-color: #182933;
	color: white;
  }
  .nav__menu-list.active{
	right: 0;
  }
  .nav__link{
	font-size: 18px; 
	position: relative;
	transition: all 0.2s;
	color: white;
  }
  
  .nav__link:hover{
   font-weight: bold;
  }
  
  .center{
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  @media screen and (min-width: 768px) {
	.nav__menu-bar{
	  display: none;
	}
	.nav__menu-list{
	  z-index: 1000;
	  position: unset;
	  flex-direction: row;
	  min-height: fit-content;
	  width: fit-content;
	  column-gap: 24px;
	  align-items: center;
	}
	.nav__link::before{
	  content: '';
	  position: absolute;
	  width: 0%;
	  height: 6px;
	  bottom: -16px;
	  left: 0;
	  background-color:#182933;
	  transition: all 0.2s;
	}
	
	.nav__link:hover:before{
	 width: 100%;
	}
  } */

/* .fontsizexxxlarge{
  font-size: xx-large;
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
} */

.sparkle {
  max-width: 10em;
  color: #441151;
  margin: auto auto;
  &:hover {
    cursor: pointer;
  }
}

.u-hover--sparkle {
  box-sizing: border-box;
  position: relative;
  padding: 0.45em;
  /* background-color: #FCCF44; */
  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 0.2em solid #dfb722;
    border-bottom: 0.2em solid #dfb722;
    transform: scale3d(0, 1, 1);
  }

  &::after {
    border-left: 0.2em solid #df7a22;
    border-right: 0.2em solid #df7a22;
    transform: scale3d(1, 0, 1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 900ms;
  }
}

.custom .carousel .slide .legend {
	position: absolute;
	height: 60%;
	margin-left: -15%;
	width: 40%;
	top: 100%;
	border-radius: 10px;
	background: none;
	color: white;
	opacity: 1;
	font-size: 12px;
	text-align: center;
  }
  
  @keyframes swipeUp {
	from {
	  top: 100%;
	}
	to {
	  top: 40%;
	}
  }
  
  .custom .carousel .slide .legend.animated {
	animation: swipeUp 2.5s ease-in-out forwards;
  }

  .embla {
	--slide-spacing: 1rem;
	--slide-size: 70%;
	--slide-height: 19rem;
	padding: 1.6rem;
  }
  .embla__viewport {
	overflow: hidden;
  }
  .embla__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y;
	margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
	position: relative;
  }
  .embla__slide__img {
	display: block;
	height: var(--slide-height);
	width: 100%;
	object-fit: cover;
  }
  .embla__slide__number {
	width: 4.6rem;
	height: 4.6rem;
	z-index: 1;
	position: absolute;
	top: 0.6rem;
	right: 0.6rem;
	border-radius: 50%;
	background-color: rgba(var(--background-site-rgb-value), 0.85);
	line-height: 4.6rem;
	font-weight: 900;
	text-align: center;
	pointer-events: none;
  }
  .embla__slide__number > span {
	color: var(--brand-primary);
	background-image: linear-gradient(
	  45deg,
	  var(--brand-primary),
	  var(--brand-secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.6rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }

  .embla {
	--slide-spacing: 1rem;
	--slide-size: 100%;
	--slide-height: 19rem;
	padding: 1.6rem;
  }
  .embla__viewport {
	overflow: hidden;
  }
  .embla__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y;
	margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
	position: relative;
  }
  .embla__slide__img {
	display: block;
	height: var(--slide-height);
	width: 100%;
	object-fit: cover;
  }
  .embla__slide__number {
	width: 4.6rem;
	height: 4.6rem;
	z-index: 1;
	position: absolute;
	top: 0.6rem;
	right: 0.6rem;
	border-radius: 50%;
	background-color: rgba(var(--background-site-rgb-value), 0.85);
	line-height: 4.6rem;
	font-weight: 900;
	text-align: center;
	pointer-events: none;
  }
  .embla__slide__number > span {
	color: var(--brand-primary);
	background-image: linear-gradient(
	  45deg,
	  var(--brand-primary),
	  var(--brand-secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.6rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  
  .embla-thumbs {
	--thumbs-slide-spacing: 0.8rem;
	--thumbs-slide-height: 9rem;
	margin-top: var(--thumbs-slide-spacing);
  }
  .embla-thumbs__viewport {
	overflow: hidden;
  }
  .embla-thumbs__container {
	display: flex;
	flex-direction: row;
	margin-left: calc(var(--thumbs-slide-spacing) * -1);
  }
  .embla-thumbs__slide {
	flex: 0 0 28%;
	min-width: 0;
	padding-left: var(--thumbs-slide-spacing);
	position: relative;
  }
  @media (min-width: 576px) {
	.embla-thumbs__slide {
	  flex: 0 0 18%;
	}
  }
  .embla-thumbs__slide__button {
	-webkit-appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	opacity: 0.2;
	transition: opacity 0.2s;
  }
  .embla-thumbs__slide--selected .embla-thumbs__slide__button {
	opacity: 1;
  }
  .embla-thumbs__slide__img {
	display: block;
	height: var(--thumbs-slide-height);
	width: 100%;
	object-fit: cover;
  }
  .embla-thumbs__slide__number {
	width: 3rem;
	height: 3rem;
	z-index: 1;
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	border-radius: 50%;
	background-color: rgba(var(--background-site-rgb-value), 0.85);
	line-height: 3rem;
	font-weight: 900;
	text-align: center;
	pointer-events: none;
  }
  .embla-thumbs__slide__number > span {
	color: var(--brand-primary);
	background-image: linear-gradient(
	  45deg,
	  var(--brand-primary),
	  var(--brand-secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.4rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  
  
  #globalLoader {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
  }
  
.accordionn {
  display: flex;
  height: 100vh;
}

.accordionn .item {
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  flex: 1;
  transition: flex 400ms;
}

.accordionn .item:hover {
  flex: 3;
}

.bg-barcelona {
  background-image: url(https://images.unsplash.com/photo-1578912996078-305d92249aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=60);
}

.bg-sydney {
  background-image: url(https://images.unsplash.com/photo-1524293581917-878a6d017c71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
}

.bg-venice {
  background-image: url(https://images.unsplash.com/photo-1453747063559-36695c8771bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=60);
}

.bg-singapore {
  background-image: url(https://images.unsplash.com/flagged/photo-1562503542-2a1e6f03b16b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2555&q=80);
}

.bg-san-francisco {
  background-image: url(https://images.unsplash.com/photo-1516675302207-722c37ce2f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=60);
}

/* body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent .active .nav-link{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active .nav-link:after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
} */
