body {
  background-color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fontsizexxxlarge{
  font-size: xx-large;
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.sparkle {
  max-width: 10em;
  color: #441151;
  margin: auto auto;
  &:hover {
    cursor: pointer;
  }
}

.u-hover--sparkle {
  box-sizing: border-box;
  position: relative;
  padding: 0.75em;
  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 0.2em solid #dfb722;
    border-bottom: 0.2em solid #dfb722;
    transform: scale3d(0, 1, 1);
  }

  &::after {
    border-left: 0.2em solid #df7a22;
    border-right: 0.2em solid #df7a22;
    transform: scale3d(1, 0, 1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 900ms;
  }
}

.custom .carousel .slide .legend {
  /* transition: all .5s ease-in-out; */
  position: absolute;
  /* left: 46%; */
  margin-left: -15%;
  width: 40%;
  top: 40%;
  border-radius: 10px;
  background: none;
  color: white;
  opacity: 1;
  font-size: 12px;
  text-align: center;

}

.accordionn {
  display: flex;
  height: 100vh;
}

.accordionn .item {
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  flex: 1;
  transition: flex 400ms;
}

.accordionn .item:hover {
  flex: 3;
}

.bg-barcelona {
  background-image: url(https://images.unsplash.com/photo-1578912996078-305d92249aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=60);
}

.bg-sydney {
  background-image: url(https://images.unsplash.com/photo-1524293581917-878a6d017c71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
}

.bg-venice {
  background-image: url(https://images.unsplash.com/photo-1453747063559-36695c8771bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=60);
}

.bg-singapore {
  background-image: url(https://images.unsplash.com/flagged/photo-1562503542-2a1e6f03b16b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2555&q=80);
}

.bg-san-francisco {
  background-image: url(https://images.unsplash.com/photo-1516675302207-722c37ce2f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=60);
}