.bg {
  background-image: url("~/public/c1.png");
}

.parallaxContainer {
  position: relative;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("~/public/c3.png");
}

.parallaxText {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff; /* Adjust the color as needed */
}

@media only screen and (max-width: 769px) {
  .parallaxText {
    left: 39%;
  }
}
.parallaxCaaard {
  min-height: 510px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("~/public/c3.png");
}
.parallaxCaaardService {
  min-height: 510px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("~/public/c4.png");
}

/* @media only screen and (max-width: 769px) {
  .parallaxCaaard {
    
    min-width: 30%;
  }
  
  
} */

@media only screen and (max-width: 769px) {
  .parallax,
  .parallaxCaaard,
  .parallaxCaaardService {
    background-size: 100vw auto;
    background-position: center top;
  }

  .parallaxCaaard {
    min-height: 1000px;
    min-width: 100%; /* Adjust as needed */
  }
  .parallaxowner {
    min-height: 650px;
  }
  .parallaxCaaardService {
    /* min-height: 600px; */
    min-height: 990px; /* Adjust as needed */
  }
  .parallax {
    background-image: url("~/public/cmobile.png");
  }
}
.parallaxCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Adjust the color as needed */
}
.parallaxCardService {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 80vw;
  transform: translate(-50%, -50%);
  color: #fff; /* Adjust the color as needed */
}

/* .overlay-lighten {
  filter: brightness(50%);
  height: 400px;
  width: 100%;
}
.overlay-content {
  text-align: center;
  position: relative;
}
.h22 {
  padding: 0 20px;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  min-width: 350px;
}
.spaan {
  font-size: 60pt;
  font-family: "Architects Daughter", lato, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #142337;
} */

.slider {
  height: 300px;
  margin: auto;
  /* min-height: 100vh; */
  position: relative;
  width: 90vw;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide_track {
  display: flex;
  width: calc(300px * 18);
  animation: scroll 40s linear infinite;
}
.slide_track:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 9));
  }
}
.slide {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.img {
  width: 100%;
  transition: transform 1s;
}
.img:hover {
  transform: translateZ(20px);
}

.slider::before {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ("180deg");
}
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: xx-large;
  transform: translate(-50%, -50%);
  color: white;
  font-family: cursive;
  padding: 8px;
  border-radius: 5px;
  z-index: 1;
  display: none;
}

.slide:hover .name {
  display: block;
}
